/* Everforest Basic Theme Colors */
:root {
  --background-color: #2D353B;
  /* Everforest background */
  --text-color: #d3c6aa;
  /* Everforest text */
  --border-color: #7a8478;
  /* Border color for inputs and buttons */
  --panel-color: #343f44;
  --alt-bg: #3d484d;
  --panel-border: #7a8478;
  --accent-1: #425047;
  --accent-1-bg: #a7c080;
  --accent-2: #3A515D;
  --accent-2-bg: #7FBBB3;
  --red: #E67E80;
  --orange: #E69875;
  --yellow: #DBBC7F;
  --green: #A7C080;
  --aqua: #83C092;
  --blue: #7FBBB3;
  --purple: #D699B6;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: Verdana, sans-serif;
  font-size: 14px;
}


.cm-content {
  font-family: 'Courier New', monospace;
}

/* canvas fill */
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  /* Prevents scrollbars */
}

canvas {
  /* Removes the margin/padding */
  width: 100%;
  height: 100%;
}

/* button bar */
button,
input[type="button"],
input[type="submit"] {
  background-color: var(--accent-1);
  color: var(--text-color);
  border: 1px solid var(--border-color);
  padding: 0.25em .5em;
  cursor: pointer;
  font-family: inherit;
  border-radius: 3px;
  margin: 3px;
  z-index: 3;
  position: relative;
}

button:hover,
input[type="button"]:hover,
input[type="submit"]:hover {
  background-color: var(--accent-1-bg);
  color: var(--background-color);
}

#aboutButton {
  background-color: var(--accent-2);
}

#aboutButton:hover {
  background-color: var(--accent-2-bg);
}

#helpButton {
  background-color: var(--yellow);
  color: var(--background-color)
}

#helpButton:hover {
  background-color: var(--orange);
}

#shareButton {
  background-color: var(--aqua);
  color: var(--background-color)
}

#shareButton:hover {
  background-color: var(--accent-2-bg);
}

a {
  color: var(--green)
}

#longShareLink {
  font-size: 10px;
}

/* tooltip */

.tooltip {
  position: relative;
  display: inline-block;
  border: none;
  /* Optional: Removes border */
  background-color: transparent;
  /* Optional: Makes background transparent */
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip text - change as needed */
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;
  /* Use half of the width (120px/2 = 60px) to center the tooltip */
}

/* Tooltip arrow - optional */
.tooltip .tooltiptext::after {
  content: " ";
  position: absolute;
  top: 100%;
  /* At the bottom of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
  /* Arrow effect */
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}

/* help */

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: var(--panel-color);
  margin: 10vh auto;
  padding: 20px;
  border: 1px solid var(--border-color);
  width: 80%;
  max-height: 70vh;
  overflow-y: auto;
}

.closeBtn {
  color: var(--textcolor);
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.closeBtn:hover,
.closeBtn:focus {
  color: var(--red);
  text-decoration: none;
  cursor: pointer;
}

#longShareLink {
  line-break: anywhere;
  margin: 5px;
  max-height: 100px;
  overflow: scroll;
}

/* bar */
#bar {
  position: fixed;
  z-index: 2;
}

/* left code panel */
#code-panel {
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

#collapsible-code {
  overflow: auto;
  width: 100%;
  max-width: 98vw;
  height: 100%;
  background: var(--panel-color);
  border-left: 3px solid var(--panel-border);
}

#collapsible-code.collapse {
  visibility: hidden;
  padding: 0;
  width: 0;
  min-width: 0;
}

/* bottom output panel */
#output-panel {
  overflow: auto;
  max-height: 30%;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  z-index: 1;
}

#collapsible-output .error {
  color: var(--red);
}

#collapsible-output {
  height: 100%;
  overflow: auto;
  padding: 5px;
  background: var(--panel-color);
  border-top: 3px solid var(--panel-border);
}

#collapsible-output.collapse {
  visibility: hidden;
  height: 0;
  padding: 0;
}

#collapsible-area {
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  width: 30%;
  background: #ddd;
  border-left: 1 px solid #ccc;
  overflow: auto;
  transition: width 0.3s ease;
}

#collapsible-area.collapsed {
  width: 0;
  overflow: hidden;
}

#toggle-output-button {
  align-self: flex-start;
}

#collapsible-output pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}
